BETTERBOOKING_API_BASE_URL=http://localhost:5245
BETTERBOOKING_WEB_BASE_URL=http://localhost:3000
BETTERBOOKING_AUTH_ISSUER=
BETTERBOOKING_AUTH_CLIENT_ID=
BETTERBOOKING_AUTH_CLIENT_SECRET=
BETTERBOOKING_AUTH_SCOPES=openid profile email
BETTERBOOKING_AUTH_COOKIE_SECRET=
